.intro-section, .airport {
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

.column {
    display: flex; 
    justify-content: space-between; 
    background-color: white;
    border-radius: 8px;
}
.puntos1, .equipo1, .puntos2, .equipo2, .puntos3, .equipo3 {
    width: 45%; 
    padding: 10px; 
    text-align: center; 
    background-color: white;
    border-radius: 8px;
}
header {
    background-color: grey;
    background-image: url('../images/fotoavion.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Escala la imagen para cubrir todo el div */
    background-position: center;
    color: black;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
}
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: pink;
    text-decoration: none;
    font-size: 16px; 
    transition: font-size 0.3s ease;
}

ul li a:hover {
font-size: 20px;
color: white;
  }

body {
    font-family: Calibri, sans-serif;
}
.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fc6998; /* Color de fondo */
    color: pink; /* Color del texto */
    text-decoration: none; /* Sin subrayado en el texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; 
    font-size: 16px; 
    transition: font-size 0.3s ease;/* Cambia el cursor al pasar por encima del botón */
}

/* Estilos para el botón al pasar el cursor por encima */
.boton:hover {
    background-color: #FF0080; 
    font-size: 20px;
    color: white;/* Cambia el color de fondo al pasar el cursor */
}

/* Estilos para el botón cuando se presiona */
.boton:active {
    background-color: #fc6998; /* Cambia el color de fondo cuando se presiona */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: pink;
    color: black;
}