.intro-section, .airport {
    margin: 20px;
    padding: 15px;
    background-color: pink;
    border-radius: 8px;
    /* Otros estilos según sea necesario */
}

.airport h3, h4 {
    color: pink;
    margin-bottom: 5px;
}