

.welcome-section, .gallery {
    background-color: #white; /* Color de fondo */
    padding: 20px; /* Espacio interior */
    text-align: center; /* Alineación del texto en el centro */
}
.welcome-section, .gallery h2 {
    font-size: 24px; /* Tamaño de fuente */
    color: #black; /* Color del texto */
}

.welcome-section, .gallery p {
    font-size: 16px; /* Tamaño de fuente */
    color: #black; /* Color del texto */
}

.column {
    display: flex; /* Utilizamos flexbox para alinear los elementos en columnas */
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
}
.gallery, .lastest-news, .events {
    width: 30%; /* Ancho de cada columna */
    padding: 10px; /* Espacio interno */
    background-color: #white; /* Color de fondo */
    border: 1px solid #white; /* Borde */
    text-align: center; /* Alineación del contenido en el centro */
}
body {
    font-family: Calibri, sans-serif;
}

header {
    background-color: #pink;
    color: black;
    text-align: center;
    padding: 10px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: inline;
    margin-right: 20px;
}

ul li a {
    color: pink;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #pink;
    color: black;
}
.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fc6998; /* Color de fondo */
    color: pink; /* Color del texto */
    text-decoration: none; /* Sin subrayado en el texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por encima del botón */
}

/* Estilos para el botón al pasar el cursor por encima */
.boton:hover {
    background-color: #FF0080; /* Cambia el color de fondo al pasar el cursor */
}

/* Estilos para el botón cuando se presiona */
.boton:active {
    background-color: #fc6998; /* Cambia el color de fondo cuando se presiona */
}